@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*VARIABLES*/

:root{
    --bgPrincipal:#1B273C;
    --bgSecundario:#F9FAF9;
    --txtColorOscuro:#111827;
    --txtColorClaro:#E5E7EB;
    --colorPrimario:#3B82F6;
    --colorSecundario:#9EB9E6;

    --fontTitle:'Poppins', sans-serif;
    --fontText:'Inter', sans-serif;
    --fontLogo:'JetBrains Mono', monospace;
    --animationScale: 1.1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bgSecundario);
    overflow: hidden;
    scrollbar-width: none;
    height: 300vh;
    z-index: 0;
}

/*Loader Styles*/
.background_loader{
    background-color: var(--bgPrincipal);
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-content: center;
    text-align: center;
    opacity: 1;
    z-index: 100;
    overflow: hidden;
    animation: desband_loader 3.5s ease-in forwards;
}
.dan, .dev{
    color: var(--txtColorClaro);
    font-family: var(--fontTitle);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.50rem;
}
.dev{
    color: #AD49C6;
    animation: change_color_dev 1.5s ease-in-out;
    
}

.line_loader{
    background-color: var(--txtColorClaro);
    width:90vw;
    margin: auto;
    height:5px;
    transform-origin:center ;
    animation: run_line 2.2s forwards;
}
.code, .by_daniel{
    font-family: var(--fontLogo);
    font-size: 3rem;
    font-weight: 700;
}
.code{
    color: #7b7be0;
    animation: change_color_code 2.2s ease-in-out;

}
.by_daniel{
    color: #6ddc5c;
    animation: change_color_bydaniel 2.2s ease-in-out;

}

 /*Animations Loader*/

@keyframes change_color_dev {
    from{color: var(--txtColorClaro);}
    to{color: #AD49C6;}
    
}
@keyframes run_line {
     from{width: 0;} 
     to { width: 80vw; } 
}
@keyframes change_color_code { 
    from{color:#ffffff;}
    to{color: rgb(123, 123, 224);} 
}
@keyframes change_color_bydaniel{
    from{color:var(--txtColorClaro);}
    to{color: rgb(109, 220, 92);} 
}
@keyframes desband_loader { 
    0%{opacity: 1;} 
    80%{opacity: 1;} 
    100%{opacity: 0; display:none; visibility:hidden;}
}

/*Loader End*/
    
/* HEADER*/

.head{
    background-color: rgb(255, 255, 255);
    color: var(--txtColorOscuro);
    font-family: var(--fontTitle);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.125rem;
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    transition-property: background,color;
    transition-timing-function: ease-in-out;
    z-index: 1;   
}
.head.scrolled{     /*add class to js*/
    background-color: var(--bgPrincipal);
    color: var(--txtColorClaro);
    z-index: 1;
}

/*Header End*/

/*Main Context fixed*/

.initial-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    margin-top: 8vh;
    position: fixed;
}
.mainText{
    position: fixed;
    font-family: var(--fontTitle);
    color: var(--txtColorOscuro);
    font-size: 1.5rem;
    text-align: center;
    margin: 0% 5% 0% 5%;
    
}
.arrowDown{
    width: 8rem;
    height: auto;
    margin-top:85%;
    animation: moveDown 1s infinite alternate ease-in-out;

}

@keyframes moveDown{
    0%{transform: translateY(0);}
    100%{transform: translateY(2.5vh);}
}

/*Main Context fixed End*/


/*Content sections container styles*/
.push_content{
    height: 80vh;
}
.scroll-container {
    display: flex;
    flex-direction: column; 
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
    height: calc(100vh * 3);
    position: relative;
}
.section{
    height: 100vh;
    display: flex;
    scroll-snap-align: start; 
    align-items: center;
    justify-content: center;
    z-index: 0;
}
/*Style sections End*/

/*About me section*/
.aboutme{
    background-color: var(--bgPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
}
.sobre-mi-devop-container{
    width: 100vw;
    height: 5vh;
}
.sobre-mi,.develop{
    position: absolute;
    margin: 0;
    width: 100vw;
    font-family: var(--fontTitle);
    color: var(--txtColorClaro);
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    height: 5vh;
    
}
.develop{
    opacity: 0;
}
.container-pic-aboutme1{
    display: flex;
    flex-direction: row;
}
.profile-pic-container{
    width: 40vw;
    height: 30vh;
    position: relative;
    z-index: 1; 
    
    
}
.profile-pic{
    width: 15vh;
    height: auto;
    margin-top: 10vw;
    transition: transform 1s ease-out;
    transform: translateX(35vw);
    box-shadow: 0.375rem 0.4375rem 0 var(--colorPrimario);
    z-index: 1; 
}
.profile-pic.move-left{
    transform: translateX(2vw);  
}
.info-aboutme1-container{
    width: 60vw;
    height: 30vh;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    color:var(--txtColorClaro);
    font-family: var(--fontText);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info1{
    margin-right: 2vw;
    opacity: 0;
    transition: opacity 1s ease-out;   
    
}

.info1.info1-visible{
    opacity:1;
}

.icons-social-media-container{
    width: 35vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:5% ;
    gap:10vw;
}
.ico-aboutme{
    width: 8vw;
    height: auto;
}

.mis-intereses-container{
    width: 100vw;
    height: 63vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    font-family: var(--fontTitle);
    color: var(--txtColorClaro);
}
.mis-intereses-title{
    font-weight: 900;
    width: 60vw;
    font-size: 1.5rem;
    margin-bottom: 3vh;
    margin-right: 80vh;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorPrimario);
    box-shadow: 0.375rem 0.4375rem 0 var(--colorSecundario);
    transition: opcity 3s ease-in-out;
    transition: transform 1s ease-out;
    transform: translateX(0);
}
.mis-intereses-title.topVisible{
    transform: translateX(40vh);
    
}
.info2{
    font-family: var(--fontText);
    width: 90vw;
    text-align: justify;
    font-size: 1rem;
    line-height: 2;
    opacity: 0;
    transition: opacity 1.5s ease-out;   

}

.info2.visible{
   opacity: 1;
}
/*About me section End*/


/*Skills section*/
.tecnology{
    background-color: var(--bgPrincipal);
    color: var(--txtColorClaro);
    font-family: var(--fontTitle);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.title-tecnology-container{
    margin-bottom:5vh;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opcity 3s ease-in-out;
    transition: transform 1s ease-out;
    transform: translateX(-70vw);
    
} 

.tecnology-title{
    background-color: var(--colorPrimario);
    width: 60vw;
    height: 10vh;
    box-shadow: 0.375rem 0.4375rem 0 var(--colorSecundario);
    font-size: 1.5rem;
    font-weight:900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-tecnology-container.topVisible2{
    transform: translateX(0vw);
    opacity:1;

}

.ico{
    width: 12vw;
    height: auto;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.6s ease, transform .6s ease;

}
.ico.visibleIco{
    opacity: 1;
    transform: translateX(0);
}
.lenguajes, .devop-tecnology, .tools-and-systems{
    font-weight:600;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 20vh;

}
.file-devop-web, .file-tools, .file-lenguajes{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13vw;
    margin-top:5vh;
    margin-bottom:5vh;

}







/*Skills section End*/

.proyects{
    background-color: var(--colorSecundario);
}

